.join-users {
  background-color: #85c875;
  padding: 50px 0;
  &__img {
    img {
      max-width: 100%;
      position: relative;
      top: 0;
    }
    h1 {
      @include breakpoint(max-width 1200px) {
        font-size: 70px;
      }
      @include breakpoint(max-width 560px) {
        top: 0;
        font-size: 50px;
        font-weight: 300;
      }
      max-width: 100%;
      position: absolute;
      top: 300px;
      font-family: 'Montserrat';
      font-size: 88px;
      word-spacing: -5px;
      letter-spacing: -4px;
      font-weight: 100;
      margin: 0;
    }
  }
  &__text {
    padding-left: 30px;
    h2 {
      margin: 20px 0;
    }
    p {
      margin: 10px 0;
      font-weight: 600;
    }
    a {
      display: inline-block;
      background-color: #90d580;
      margin-top: 30px;
    }
  }
}