html{
    width: 100%;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
    text-align: left;
    vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}
h2 {
    color: #000;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 34px;
}

a {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    &:hover, &:focus, &:active{
        text-decoration: none;
    }
}
p {
    font-family:'Open Sans';
    font-size: 18px;
    color: #000;
}

input{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

textarea{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

%clearfix {
    *zoom: 1;
    &:after {
        content: '';
        display: table;
        line-height: 0;
        clear: both;
    }
}
