.btn-order {
  font-family:' Montserrat';
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 60px;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
  transition: .5s;
  &:hover {
    background-color: #000000;
    color: #fff;
    transition: .2s;
  }
  @include breakpoint(max-width 500px) {
    padding: 10px 30px;
  }
}
.clearfix {
  overflow: hidden;
  clear: both;
  height: 0;
  width: 100%;
}